@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}
html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.background-color {
  @apply bg-gradient-to-r from-indigo-100 via-indigo-400 to-indigo-100 
        dark:from-gray-900 dark:via-gray-900 dark:to-gray-900;
}
